<p style="margin-bottom: 0px;">
  <mat-toolbar style="background-color:antiquewhite;">
    <span>Pragathi Resort</span>
  </mat-toolbar>
</p>
  <div class="fixed-header">
      <div class="headercontainer">
        <nav>
          <a mat-button routerLink="/home" routerLinkActive="active">Home</a>

          <a mat-button  [matMenuTriggerFor]="about">About Us</a>
           <mat-menu #about="matMenu">
            <a mat-menu-item routerLink="/about" routerLinkActive="active">About Resort</a>
          </mat-menu>

         <a mat-button [matMenuTriggerFor]="stay">Stay</a>
          <mat-menu #stay="matMenu">
            <a mat-menu-item>Luxury Rooms</a>
            <a mat-menu-item>Budget Rooms</a>
          </mat-menu>
        </nav>
      </div>

  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>    
  <div class="fixed-footer" style="padding-left: 10px;">
      <div>Copyright &copy; 2021 Your Company</div>        
  </div>
