body{        
    padding-top: 0px;
    padding-bottom: 0px;
}
.container{
    width: 80%;
    margin: 0 auto; 
    margin-top: 20px;
}
.fixed-header {
    width: 100%;
    position: relative;        
    background: #333;
    padding: 10px 0;
    color: #fff;
}

.fixed-footer{
    width: 100%;       
    background: #333;
    padding: 10px 0;
    color: #fff;
    position: fixed;
}

.fixed-header{
    top: 0px;
}
.fixed-footer{
    bottom: 0;
}    
/* Some more styles to beutify this example */
nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
}

nav{ 
    display: inline-block;
}
