<div class="container">
    <h1 style="font-size: large;font-family: cursive;">Our Gallery</h1>
    <mat-grid-list cols="3" rowHeight="1:1">
      <mat-grid-tile>
        <img src="/assets/images/Grid1.jpeg" alt="pragathi" width="500px" height="300px">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="/assets/images/Grid2.jpeg" alt="pragathi" width="500px" height="300px">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="/assets/images/Grid3.jpeg" alt="pragathi" width="500px" height="300px">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="/assets/images/Grid4.jpeg" alt="pragathi" width="500px" height="300px">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="/assets/images/Grid5.jpeg" alt="pragathi" width="500px" height="300px">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="/assets/images/Grid6.jpeg" alt="pragathi" width="500px" height="300px">
      </mat-grid-tile>
    </mat-grid-list>
  </div>    
